<%= form_for(@honcho) do |f| %>
  <% if @honcho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@honcho.errors.count, "error") %> prohibited this honcho from being saved:</h2>

      <ul>
      <% @honcho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control" %>
  <%= f.label :position %>
  <%= f.text_field :position, class:"form-control" %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class:"form-control" %>
  <%= f.label :email %>
  <%= f.email_field :email, class:"form-control" %>
  <%= f.label :notes %>
  <%= f.text_area :notes, class:"form-control" %>
  <%= f.label :useful_links %>
  <%= f.text_area :links, class:"form-control" %>
  <% if !params[:id].nil? %>
    <%= f.text_field :company_id, value: params[:id] %>
  <% else %>
    <%= f.text_field :company_id, value: params[:company_id] %>
  <% end %>

  <br />
  <%= f.submit "Submit", class:"btn btn-success" %>

<% end %>
<br />
