<p id="notice"><%= notice %></p>

<h1>Listing Honchos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Notes</th>
      <th>Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @honchos.each do |honcho| %>
      <tr>
        <td><%= honcho.name %></td>
        <td><%= honcho.position %></td>
        <td><%= honcho.phone_number %></td>
        <td><%= honcho.email %></td>
        <td><%= honcho.notes %></td>
        <td><%= honcho.links %></td>
        <td><%= link_to 'Show', honcho %></td>
        <td><%= link_to 'Edit', edit_honcho_path(honcho) %></td>
        <td><%= link_to 'Destroy', honcho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Honcho', new_honcho_path %>
