<%= Gon::Base.render_data %>

<h2>Let's try to autofill</h2>

<%= form_for @job do |f| %>
  <%= f.label :web_address, class:"control-label" %>
  <%= f.text_field :web_address, class:"form-control tour2", placeholder:"https://www.new-job-posting-path.com"%><br />
  <%= f.submit "Let's give it a try", class:"btn btn-md btn-success"%>
<% end %>
<br />
