<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :position %>
  <%= f.text_field :position, class:"form-control tour3 t31", placeholder:"Couldn't autofill this information, please paste company name here." %>
  <%= f.label :web_address %>
  <%= f.text_field :web_address, class:"form-control" %>
  <%= f.hidden_field :user_id, value: current_user.id, class:"form-control" %>

  <h1>Company Info</h1>
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control tour3 t32", value:@job.company.name, placeholder:"Couldn't autofill this information, please paste company name here." %>

  <br />
  <br />

  <%= f.submit "Submit", class:"btn btn-success" %>
<% end %>
