<h1>Jobs</h1>

<div class="panel-group col-lg-10" id="accordion">
  <% current_jobs.each_with_index do |job, i| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" class="btn btn-sm btn-info"><%= job.position.capitalize %></a>
          <%= link_to "Go to Job posting", job.web_address, class:"btn btn-sm btn-default" %>
          <%= link_to "Edit", edit_job_path(job), class:"btn btn-xs btn-warning" %>
        </h4>
          <%= form_for job do |f| %>
            <% f.text_field :archived, value: true %>
            <%= f.submit "Send to Archive", class:"btn btn-sm btn-default" %>
          <% end %>

      </div>
      <div id="collapse<%= i %>" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Company -->
          <h4><strong>Company:</strong></h4>
          <!-- Checks if the job has a company assigned to it -->
          <% if !job.company.nil? %>

            <!-- If there is a company assigned to the specific job, Displays the name of the company and options forr adding 'honchos', 'attempts', and also updating/editing the company itself -->
            <%= link_to "Add Details", edit_company_path(job.company), {class:"btn btn-xs btn-warning"} %>

            <%= render 'companies/show', company: job.company, i: i %>

            <!-- Shows Honchos along with company should a company be selected -->
            <!-- Honchos -->
            <h4><strong>Contacts:</strong></h4>
            <%= link_to "New Contact", new_honcho_path(company_id: job.company.id), class:"btn btn-xs btn-warning" %>
            <% if any_company_kahunas?(job.company) %>
              <%= render 'honchos/index', honchos: company_kahunas(job.company), i: i %>
            <% end %>
            <!-- Honchos -->

            <!-- Attempts -->
            <h4><strong>Attempts:</strong></h4>
            <%= link_to "Follow Up", new_attempt_path(job_id: job.id), class:"btn btn-xs btn-warning" %>
            <% if  any_job_attempts?(job) %>
              <%= render 'attempts/index', job: job, i: i %>
            <% else %>
            <% end %>
            <!-- Attempts -->

          <% else %>
            <%= render 'companies/index', job: job, i: i%>
          <% end %>
          <!-- Company -->

        </div>
      </div>
    </div>
  <% end %>
</div>
