<h1>Jobs</h1>

<div class="panel-group col-lg-10" id="accordion">
  <% @user.jobs.each_with_index do |job, i| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" class="btn btn-sm btn-info"><%= job.position.capitalize %></a>
          <%= link_to job.web_address, job.web_address %></h4>
      </div>
      <div id="collapse<%= i %>" class="panel-collapse collapse">
        <div class="panel-body">

          <!-- Company -->
          <h4><strong>Company:</strong></h4>
          <% if !job.company.nil? %>
            <%= render 'companies/show', company: job.company, i: i %>

            <%= link_to "Add Details", edit_company_path(job.company), {class:"btn btn-xs btn-warning"} %>
<!-- Shows Honchos long with company should a company be selected -->
            <!-- Honchos -->
            <h4><strong>Contacts:</strong></h4>
            <% if any_company_kahunas?(job.company) %>
              <%= render 'honchos/index', honchos: company_kahunas(job.company), i: i %>
            <% else %>
              <%= link_to "Add Contact", new_honcho_path(company_id: job.company.id), class:"btn btn-xs btn-warning", company_id: job.company.id %>
            <% end %>
            <!-- Honchos -->

          <% else %>
            <%= render 'companies/index', job: job, i: i%>
          <% end %>
          <!-- Company -->

        </div>
      </div>
    </div>
  <% end %>
</div>
