
<div class="panel-group col-lg-12" id="accordion">
  <% current_jobs.each_with_index do |job, i| %>
    <div class="panel panel-default">
      <div class="panel-heading">

        <div class="clickable-position">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" class="btn btn-default  big-btn btn-1 tour3 t31"><%= job.position.capitalize %></a>
        </div>

        <div class="clickable">
          <!-- Company -->
          <%= render 'companies/show', company: job.company, i: i %>
          <!-- Company -->
        </div>

        <div class="clickable">
          <%= link_to "Edit", edit_job_path(job), class:"btn btn-default big-btn btn-3 tour3 t32"%>
        </div>

        <div class="clickable">
          <a><%= form_for( job, url: job_path(job), html: { method: :patch } ) do |f| %>
            <%= f.hidden_field :archived, value: true %>
            <%= f.submit "Send to Archive", class:"btn btn-default big-btn btn-4" %>
          <% end %></a>
        </div>
      </div>
      <div id="collapse<%= i %>" class="panel-collapse collapse">
        <div class="panel-body">

          <%= link_to "Job URL", job.web_address, class:"btn btn-default big-btn btn-2", target:"_blank"%>

          <!-- Shows Honchos along with company should a company be selected -->
          <!-- Honchos -->
          <h4><strong>Contacts:</strong></h4>
          <%= link_to "New Contact", new_honcho_path(current_user.id, company_id: job.company.id), class:"btn btn-xs btn-warning" %>
          <% if any_company_kahunas?(job.company) %>
            <%= render 'honchos/index', honchos: company_kahunas(job.company), i: i %>
          <% end %>
          <!-- Honchos -->

          <!-- Attempts start-->
          <h4><strong>Attempts:</strong></h4>
          <%= link_to "Follow Up", new_attempt_path(current_user.id, job_id: job.id), class:"btn btn-xs btn-warning" %>
          <% if  any_job_attempts?(job) %>
            <%= render 'attempts/index', job: job, i: i %>
          <% end %>
          <!-- Attempts end-->



        </div>
      </div>
    </div>
  <% end %>
</div>
