
<%= form_for @company do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name, class:"form-control" %>
  <%= f.label :address %><br>
  <%= f.text_field :address, class:"form-control" %>
  <%= f.label :main_phone %><br>
  <%= f.telephone_field :main_phone, class:"form-control" %>
  <%= f.label :useful_links %><br>
  <%= f.text_area :useful_links, class:"form-control" %>
  <%= f.label :notes %><br>
  <%= f.label :notes %><br>
  <%= f.text_area :notes, class:"form-control" %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <br />
  <%= f.submit "Submit", class:"btn btn-success" %>
<% end %>
