
<!-- Company Modal button -->
<button type="button" class="btn btn-default big-btn btn-2" data-toggle="modal" data-target="#myModal<%= i %>" data-intro="Click on the company name to add/edit details." data-position="top">
    <%= company.name %>
</button><!-- Company Modal button -->

<!-- Modal -->
<div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= company.name %></h4>
        </div>
        <div class="modal-body">

          <p>
            <strong>Address:</strong>
            <%= company.address %>
          </p>

          <p>
            <strong>Main phone:</strong>
            <%= company.main_phone %>
          </p>

          <p>
            <strong>Useful links:</strong>
            <%= company.useful_links %>
          </p>

          <p>
            <strong>Notes:</strong>
            <%= company.notes %>
          </p>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to 'Edit/Update', edit_company_path(company), class:"btn btn-default" %>

      </div>
    </div>
  </div>
</div>
