<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attempt.date %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @attempt.medium %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @attempt.summary %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
