<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IzzyJobHunt" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand muted-text" href="<%= !current_user.nil? ? user_path(current_user) : "#" %>"><h4>Izzy'sJobHunt</h4></a>
        <% if logged_in? %>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "New Job", new_job_path(current_user.id) %></li>
              <% if any_archived_jobs? %>
                <li><%= link_to "Archived", jobs_path(current_user.id, archived: true) %></li>
              <% end %>
              <% if !current_jobs.empty? %>
                <li><%= link_to "New Company", new_company_path(current_user.id) %></li>
              <% end %>
              <% if check_to_mail? %>
                <li><a href="#" id="submit-email">Submit your 10/30#Use javascript to submit</a></li>

              <% end %>

            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

        <!--  Side bar displays user info when signed in   -->
        <% if logged_in? %>
          <div class="col-lg-4" >
            <div class="well sidebar-nav "  style="background: url(<%= session[:image] %>); background-size:cover;">
              <div id="side-info">
                <h3><%= link_to "#{current_user.name}'s Page", current_user %></h3>
                <ul class="nav nav-list">
                  <li class="nav-header"><%= current_user.email  %></li><br />
                </ul>
                <q><%= session[:quote] %></q>
              </div>
              <%= button_to "Log Out", logout_path, class:"btn btn-xs btn-danger"  %>
              <%= link_to "Edit", edit_user_path(current_user), class:"btn btn-xs btn-primary" %>
            </div><!--/.well -->
          </div><!--/span-->
          <%= render 'users/search' %>
        <% end %>
      </div><!--/row-->

      <footer>
        <p>&copy; Izzy's Code 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
