<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IzzyJobHunt" %></title>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->



  </head>
  <body>
    <div class="navbar navbar-static-top tour1 t1">
      <div>
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="<%= logged_in? ? user_path(current_user) : "#" %>"><strong class="app-name">EzzyJobHunt</strong></a></li>
          <% if logged_in? %>
            <li ><%= link_to "New Job", new_job_path(current_user.id) %></li>
            <li ><%= link_to "Contact",  contact_path(current_user)%></li>
            <% if any_archived_jobs? %>
              <li><%= link_to "Archived", jobs_path(current_user.id, archived: true) %></li>
            <% end %>

            <% if check_to_mail? && false %> <!-- need to know whats up with the famous 10/30s -->
              <li>
                <%= link_to "Send Rita an email alert", mail_please_path, id:"submit-email"  %>
              </li>
            <% end %>
          <% end %>
        </ul>

      </div>
    </div>

  </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

        <!--  Side bar displays user info when signed in   -->
        <% if logged_in? %>
          <div class="col-lg-4 tour1 t2">
            <div class="well sidebar-nav "  style="background: url(<%= !Rails.env.development? ? session[:image] : "" %>); background-size:cover;">
              <div id="side-info">
                <h3><%= link_to "#{current_user.name}'s Page", current_user %></h3>
                <ul class="nav nav-list">
                  <li class="nav-header"><%= current_user.email  %></li><br />
                </ul>
                <q><%= session[:quote] if !Rails.env.development? %></q>
              </div>
              <div class="user-btn">
                <%= link_to "Log Out", logout_path, class:"btn btn-default"  %>
                <%= link_to "Edit Info", edit_user_path(current_user), class:"btn btn-default" %>
              </div>
              <span style="z-index:50;font-size:0.7em;"><img src="https://theysaidso.com/branding/theysaidso.png" height="15" width="15" alt="theysaidso.com"/><a href="https://theysaidso.com" title="Powered by quotes from theysaidso.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">theysaidso.com</a></span>
            </div><!--/.well -->
          </div><!--/span-->
          <%= render 'users/search' %>
        <% end %>
      </div><!--/row-->

      <footer>
        <p>&copy; IzzyCode 2016</p>
        <!-- <a href="https://izzy-code.auth0.com/v2/logout?returnTo=<%#=ENV['URL']%>logout"><p>&copy; IzzyCode 2016</p></a> -->
      </footer>
      <% if Rails.env.production? %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-80705511-1', 'auto');
          ga('send', 'pageview');
        </script>
      <% end %>

    </div> <!-- /container -->
    <% if Rails.env.development? %>
      <%#= console %>
    <% end %>
  </body>
</html>
